@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
	background: #f0f0f6;
	margin: 0;
	padding: 0;
}

.main{
    /* height: 100vh; */
	display: flex;
}

p{
	background: none;
}


.left{
	width: 22%;
	/* height: auto; */
	background: #FFFFFF;

	top: 0;
    bottom:0;
	position:fixed;
    overflow-y:scroll;
    scroll-behavior: smooth;
}


.middle{
	width: 65%;
	margin-left: 2.5%;
}

.right{
	width: 8%;
	margin-left: 2.5%;
	background: #FFFFFF;
}

img#left-profile{
	width: 150px;
	height: 150px;
	border-radius: 10%;
	display: block;
	margin: auto;
	margin-top: 20%;
}

p#left-name{
	text-align: center;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 123.6%;
	color: #2B2B2B;
	margin-top: 7%;
}

p#left-prof{
	text-align: center;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
	color: #767676;
	margin-top: 2%;
}

.social-icons{
	background: none;
	text-align: center;
	
}

.social-icons img{
	width: 20px;
	height: 20px;
	padding: 8px;
	background: #FFB400;
	border-radius: 10%;
	padding: 5px;
	margin: 10px;
}
hr#left-line-1, hr#left-line-2 , 
hr#left-line-3 ,  hr#left-line-4,
hr#left-line-5{
	width: 80%;
	margin: auto;
	margin-top: 5%;
	border: 0.5px solid #F0F0F6;
}

.personal-details{
	width: 90%;
	display: flex;
	margin: auto;
	background: none;
	margin-left: 8%;
	margin-top: 10%;
}

.pd-left{
	width: 50%;
	background: none;
	
}
.pd-right{
	width: 50%;
	background: none;
}

.pd-right p{
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 28px;
	color: #2B2B2B;
	margin-bottom: 10px;
}

.pd-left p{
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 28px;
	color: #2B2B2B;
	margin-bottom: 10px;
}

p#avail{
	color: #7eb942;
	font-weight: 900;
}

p#age{
	background: #FFB400;
	width: 40%;
	text-align: center;
}

p#res{
	background: #FFB400;
	width: 80%;
	text-align: center;
}

p#freelance{
	background: #FFB400;
	width: 75%;
	text-align: center;
}

p#add{
	background: #FFB400;
	width: 70%;
	text-align: center;
}



.languages, .skills{
	background: #FFFFFF;

		
}

p#lang-head , p#skills-head , p#extra-head{
	/* border: 1px solid red; */
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 123.6%;
	color: #2B2B2B;
	text-align: center;
	background: #FFFFFF;
	margin-top: 5%;
}

.eng, .hin{
	background: #FFFFFF;
}

.lang-percent , .skill-top{
	display: flex;
	background: #FFFFFF;
	margin-top: 5%;
}

p#percent{
	position: relative;
	left: 41%;
}

.eng p, .hin p, .skill-top p{
	margin-left: 10%;
	font-family: Inter;
	font-style: normal;
	font-weight: 550;
	font-size: 15px;
	line-height: 24px;
	background: #FFFFFF;
	color: #767676;
}

.outer-level{
	width: 80%;
	height: 4px;
	border: 1px solid #FFB400;
	border-radius: 30px;
	margin: auto;
	margin-top: 4%;
	background: #FFFFFF;
}

.inner-level-1, .inner-level-2{
	width: 90%;
	height: 2px;
	background: #FFB400;
	margin-top: 1px;
	border-radius: 30px;
}

.inner-level-2{
	width: 100%;
}


.skill-1, .skill-2, .skill-3, .skill-4, .skill-5{
	background: #FFFFFF;
	margin-top: 5%;
}

p#skill-head{
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
	color: #767676;
	margin-left: 10%;
}


.skill-top p#percent{
	position:absolute;
	left: 70%;
}

.inner-level-3, .inner-level-4,
.inner-level-5, .inner-level-6, .inner-level-7{
	height: 2px;
	background: #FFB400;
	margin-top: 1px;
	border-radius: 30px;
}

.inner-level-3{
	width: 95%;
}

.inner-level-4{
	width: 90%;
}

.inner-level-5{
	width: 80%;
}

.inner-level-6{
	width: 90%;
}

.inner-level-7{
	width: 80%;
}


p#extra-head{
	margin-top: 5%;
	margin-bottom: 5%;
}

.extra-skills{
	background: #FFFFFF;
}

.extra-skills-1{
	display: flex;
	background: #FFFFFF;
	margin-top: 2%;
}

.extra-skills-1 svg{
	background: #FFFFFF;
	position: relative;
	left: 10%;
	margin-top: 1%;
}

.extra-skills-1 p{
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
	color: #767676;
	margin-left: 15%;
}

.resume{
	background: #FFFFFF;
}

.resume a{
	text-decoration: none;
}


.resume a button{
	background: #FFB400;
	width: 50%;
	height: 35px;
	margin: auto;
	display: block;
	margin-top: 8%;
	border: none;
	outline: none;
	text-decoration: none;

	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
    color: #2B2B2B;
	margin-bottom: 8%;
	cursor: pointer;

}



/********** Middile Section Beigns ***********/

.middle{

	top: 0;
    bottom:0;
	left: 22.5%;
    position:fixed;
    overflow-y:scroll;
    /* overflow-x:hidden; */
	scroll-behavior: smooth;
}

.middle-1{
	display: flex;
	background: #FFFFFF;
	/* margin-top: 5%; */
}

.middle-1-left, .middle-1-right{
	background: #FFFFFF;
	/* border: 1px solid red; */
	margin-top: 5%;
	margin-bottom: 5%;
}

.middle-1-left{
	width: 50%;
}
.middle-1-right{
	width: 50%;
}

.middle-1-right img{
	width: 80%;
	height: 350px;
	margin: auto;
	display: block;
	background: #FFFFFF;
}

.middle-1-left h1{
	background: #FFFFFF;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	line-height: 123.6%;
	color: #2B2B2B;
	
}

.middle-1-left h1 label{
	color: #FFB400;
	background: #FFFFFF;
}

h1#dev-head-1{
	font-size: 48px;
	margin-top: 15%;
	margin-left: 10%;
}

h1#dev-head-2{
	font-size: 38px;
	margin-top: 3%;
	margin-left: 15%;
}

h1#dev-head-3{
	font-size: 34px;
	margin-top: 3%;
	background: -webkit-linear-gradient(rgb(17, 144, 242), rgb(243, 117, 255));
    background-color: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	margin-left: 22%;
}
.middle-1 svg{
	background: #FFFFFF;
	position: relative;
}

svg#shape-1{
	left: 4%;
	margin-top: 5%;
}

svg#shape-2{
	left: 48%;
	margin-top: 3%;
}

svg#shape-3{
	left: 94%;
	margin-top: 8%;
}

svg#shape-4{
	left: 2%;
	margin-top: 30%;
}

svg#shape-5{
	left: 29%;
	margin-top: 37%;
}

svg#shape-6{
	left: 45%;
	margin-top: 32%;
}

svg#shape-7{
	left: 86%;
	margin-top: 37%;
}


button#hire-btn{
	background: #FFB400;
	width: 38%;
	height: 35px;
	display: block;
	margin-left: 0px;
	margin-top: 23%;
	border: none;
	outline: none;
	text-decoration: none;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 17px;
    color: #2B2B2B;
	cursor: pointer;

}

.middle-2{
	margin-top: 15%;
}

.middle-2 h1 , .middle-3 h1, .middle-4 h1{
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 123.6%;
	color: #2B2B2B;
	text-align: center;
}


p#service-para, p#education-para, p#worksample-para {
	width: 50%;
	text-align: center;
	margin: auto;

	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
	color: #767676;
	margin-top: 2%;
}

.service-box-row-1{
	display: flex;
	text-align: center;
	margin: auto;
}

.service-box-1 , .service-box-2{
	width: 280px;
	height: 175px;
	background: #FFFFFF;
	margin-left: 12%;
	margin-top: 5%;
	
}

.service-box-1:hover , .service-box-2:hover{		
	transform: scale(1.1);
    box-shadow:
       inset 0 -1em 2em rgba(207, 235, 250, 0.1),
             0.3em 0.3em 1em rgba(157, 151, 151, 0.3);
	transition: all 0.3s ease-in;	
 
}

.service-box-1 svg ,
.service-box-2 svg{
	background: #FFFFFF;
	margin: auto;
	display: block;
	padding-top: 4%;
	
}

.service-box-1 p, .service-box-2 p{
	text-align: center;
}

p#service-name{
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 123.6%;
	color: #2B2B2B;
	margin-top: 10%;
}

p#service-desc, p#service-desc-4{
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #767676;
}

.service-box-2{
	margin-left: 11%;
}

p#service-name-2{
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 123.6%;
	color: #2B2B2B;
	margin-top: 10%;
	margin-top: 6%;
}

p#service-desc-4{
	width: 90%;
	margin: auto;
	margin-top: 7%;
}


.right svg{
	background: #FFFFFF;
	margin: auto;
	display: block;
	margin-top: 25%;
	cursor: pointer;
}

.middle-3{
	margin-top: 15%;
	margin-bottom: 5%;
	height: max-content;
}


.education-box{
	width: 80%;
	margin: auto;
	margin-top: 5%;
	background: #FFFFFF;
}


.edu-box-row-1{
	display: flex;
	background: #FFFFFF;
	padding-top: 2%;
	border-width: 70%;
}

.edu-box-left{
	width: 40%;
	background: #FFFFFF;
}

.edu-box-left h2, .edu-box-right h2{
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	color: #2B2B2B;
	background: #FFFFFF;
	margin-top: 8%;
	margin-left: 8%;
}

.edu-box-left p , .edu-box-right p{
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	color: #2B2B2B;
	background: #FFFFFF;
	margin-top: 15%;


}



.edu-box-right{
	width: 60%;
   	background: #FFFFFF;
}

.edu-box-left-bottom{
	display: flex;
	background: #FFFFFF;
}

p#designation{
    font-size: 13px;
	margin-left: 8%;
}

p#duration{
	font-size: 11px;
	width: 45%;
	margin-left: 5%;
	text-align: center;
	background: #FFB400;
	color: #FFFFFF;
}

.edu-box-right h2{
	margin-top: 5%;
	margin-left: 0px;
}

.edu-box-right p{
	margin-top: 5%;
	font-size: 13px;
	width: 95%;
}

hr#middle-line-1{
	border: 0.5px solid #e4e6eb;
	width: 94%;
	margin: auto;
	margin-top: 5%;
}

#edu-last-row{
	padding-bottom: 1%;
	
}

.middle-4{
	position:relative;
	margin-top: 15%;
}


.photography-box{
    margin-top: 8%;
	background: #FFFFFF;
	padding-top: 5%;
	padding-bottom: 5%;
}

img#train{
	width: 90%;
	height: 450px;
	margin: auto;
	display: block;
	
}


img#mivi{
	width: 50%;
	height: 450px;
    position: relative;
	margin-left: 5%;	
	margin-top: 5%;
}


img#trapwall{
	width: 34%;
	height: 450px;
    position: relative;
	margin-left: 5%;	
	margin-top: 5%;
}

img#sky{
	width: 50%;
	height: 450px;
    position: relative;
	margin-left: 5%;	
	margin-top: 5%;
}


img#fly{
	width: 34%;
	height: 450px;
    position: relative;
	margin-left: 5%;	
	margin-top: 5%;
}

img#scenary{
	width: 90%;
	height: 420px;
	margin: auto;
	display: block;
	margin-top: 5%;
	
}

.middle-5{
	display: flex;
	margin-top: 15%;
	padding-bottom: 5%;
}

.middle-5-left{
	width: 52.5%;	
	padding-bottom: 5%;
}

.left-main{
	background: #FFFFFF;
	margin-top: 5%;
	padding-top: 1%;
	padding-bottom: 5%;
	margin-left: 5%;
}

.middle-5-right{
	width: 42.5%;
	margin-left: 5%;
}

.middle-5-left h2, .middle-5-right h2{
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 123.6%;
	color: #2B2B2B;
    margin-top: 5%;
	margin-left: 5%;
	

}

p#input-name{
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 123.6%;
	color: #767676;
	margin-left: 5%;
	margin-top: 5%;
}

input#name, input#email, input#subject, input#message{
	border: none;
	outline: none;
	background: #F0F0F6;
	width: 85%;
	height: 35px;
	margin-left: 5%;
	margin-top: 2%;
	padding-left: 5%;
}

input::placeholder{
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 123.6%;
	color: #000000;

}

input#message{
	height: 150px;
}

.middle-5-box-1{
	width: 80%;
	height: 24.8%;
	background: #FFFFFF;
    margin-bottom: 2%;
	margin-top: 7%;
	margin-left: 5%;
}

button#message-btn{
	background: #FFB400;
    width: 40%;
    height: 35px;
    margin-top: 8%;
	margin-left: 5%;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #2B2B2B;
    margin-bottom: 2%;
    cursor: pointer
}

.middle-5-box-{
	padding-top: 10%;
}

.middle-5-box-1 svg{
	width: 25px;
	height: 25px;
	background: #FFB400;
	margin: auto;
	display: block;
	border-radius: 50%;
	padding: 5px;
	position: relative;
	top: 15%;	
}


.middle-5-box-1 p#country{
	margin-top: 15%;
	
}


label#country, label#city, label#streat{
	margin-left: 10%;
	background: #FFFFFF;
	font-family: Inter;
	font-style: normal;
	font-weight: 900;
	font-size: 13px;
	line-height: 123.6%;
	color: #767676;
}

label#country-name, label#city-name , label#streat-name{
	float: right;
	margin-right: 10%;
	background: #FFFFFF;
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	color: #767676;
}

p#city, p#streat{
	margin-top: 3%;
}


.right{
	position: fixed;
	left: 90%;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


.middle-bottom{
	height: 40px;
	width: 92.5%;
	margin-left: 2.5%;
	
	background: #FFFFFF;
}

.middle-bottom p{
	font-family: Inter;
	font-style: normal;
	font-weight: 900;
	font-size: 13px;
	color: #2B2B2B;
	text-align: center;
	padding-top: 1.5%;
}



@media  screen and (max-width:576px){

	*{
		margin: 0px;
	}
	.left{
	    display:none;
	}

	.middle{
		width: 100%;
		position: initial;
		margin: 0px;
	}

	.middle-1{
		width: 100%;	
		flex-wrap: wrap-reverse;
	}

	h1#dev-head-1, h1#dev-head-2, h1#dev-head-3{
		text-align: center;
		margin-left: 0px;
	}


	.middle-1-right img{
		margin-top: 5%;
	}

	.middle-1-left, .middle-1-right{
		width: 100%;
	}
	.right{
		display: none;
	}

	button#hire-btn{
		margin: auto;
		margin-top: 20%;
	}

	.middle-1 svg{
		background: #FFFFFF;
		position: absolute;
		top: 80%;
	}
	
	svg#shape-1{
		left: 7%;
		margin-top: 1%;
	}
	
	svg#shape-2{
		left: 52%;
		margin-top: 3%;
	}
	
	svg#shape-3{
		left: 90%;
		margin-top: 15%;
	}
	
	svg#shape-4{
		left: 2%;
		margin-top: 30%;
	}
	
	svg#shape-5{
		left: 19%;
		margin-top: 57%;
	}
	
	svg#shape-6{
		left: 75%;
		margin-top: 72%;
	}
	
	svg#shape-7{
		left: 86%;
		margin-top: 37%;
	}

	.middle-2{
		margin-top: 8%;
	}

	.middle-2 h1, .middle-3 h1, .middle-4 h1 {
		font-size: 24px;
	}

	p#service-para, p#education-para, p#worksample-para{
		width: 80%;
		font-size: 13px;
	}

	.service-box-1, .service-box-2{
		margin-left: 0px;
		width: 40%;
		margin: 5%;
	}

	p#service-name , p#service-name-2 {
		font-size: 14px;
	}

	p#service-desc, p#service-desc-4 {
		font-size: 12px;
		line-height: 20px;
	}


	
	img#train, img#mivi, img#trapwall, img#sky, img#fly{
		height: 300px;
		
	}

	
	img#scenary{		
		height: 280px;
	}

	.middle-5-box-1 svg {
	   width: 20px;
	   height: 20px;
	}

	.middle-5-box-1 p#country{
		margin-top: 15%;
	}


	label#country, label#city, label#streat{
		font-size: 11px;
	}

	label#country-name, label#city-name, label#streat-name{
		line-height: 20px;
		font-size: 10px;
	}

	.middle-5-left h2, .middle-5-right h2{
		font-size: 16px;
	}

	p#input-name {
		font-size: 12px;
	}

	button#message-btn{
		width: 85%;
		font-size: 13px;
	}

	.middle-bottom p {
	font-size: 11px;
	padding-top: 3%;
    }

	input#name, input#email, input#subject, input#message{
		height: 30px;
	}

	input#message{
		height: 100px;
	}

	.middle-5-box-1 {
		height: 26.8%;	
	}

}
